.formContainer {
}

.formContainer label {
  text-transform: capitalize;
}

.container form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media (max-width: 1000px) {
  .container form {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .container form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container form {
    grid-template-columns: repeat(1, 1fr);
  }
  .submit {
    margin-top: 10px !important;
  }
}

.cancel {
  grid-column-start: 1;
  margin-top: 30px;
}

.submit {
  margin-top: 30px;
}

.submit:focus,
.cancel:focus {
  box-shadow: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler h5 {
  margin-bottom: 0;
  margin-right: 10px;
}
