.signup {
  padding: 20px;
}

.signup .container {
  background-color: #fff;
  max-width: 400px;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 3px 5px #ccc;
}

.signup .submit {
  display: block !important;
  width: 100%;
}
